.clear {
	clear: both;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}
.header {
	color: white;
	padding-top: 50px;
}
.center-align {
	text-align: center;
}
.login-form {
	background-color: grey;
}
.blue {
  background: #255576;
  border-color: #1a4563;
  color: white;
}
a {
	display: block;
  border: 1px solid #0c57a3;
  padding: 10px;
  background: #0972dd;
  color: #fff;
  text-transform: uppercase;
}
.inputwrapper select {
	width: 265px;
}
.logout {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}